<div class="container">

<header class="header">
  <%= link_to "< Pokédex", root_path %>
</header>
<div class="two-columns">
  <div class="pokemon-details">
    <p>You hear a rustle in the tall grass...A wild Pokémon appears!</p>
    <%= render @pokemon %>
  </div>
  <div>
    <h2>Do you dare to catch this Pokémon?</h2>
    <%= simple_form_for [@pokemon, @pokeball] do |f| %>
      <%= f.association :trainer, label: "Who's trying their luck?" %>
      <%= f.input :location, label: "Where are you?" %>
      <%= f.input  :caught_on, html5: true, label: "When?" %>
      <%= f.submit "Catch!", class: "btn poke-btn" %>
    <% end %>
  </div>
</div>

</div>
