<div class="trainer-card">
  <%= cl_image_tag trainer.photo.key %>
  <h2><%= link_to trainer.name, trainer %></h2>
  <p><%= trainer.age %> years old</p>
  <%= link_to "", trainer, class: "trainer-card-link" %>

  <%# <% if policy(trainer).destroy? %>
    <%# <%= link_to "X", trainer, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-delete" %>
  <%# <% end %>
</div>
