<div class="container">

<header class="header">
  <%= link_to "< Trainers", trainers_path %>
  <h1><%= @trainer.name %> is going to catch 'em all!</h1>
</header>
<div class="two-columns">
  <div class="trainer-details">
    <%= render @trainer %>
  </div>

  <% if @trainer.pokeballs.exists? %>
    <div class="grid">
      <% @trainer.pokeballs.each do |pokeball| %>
        <div class="pokemon-card">
          <%= cl_image_tag pokeball.pokemon.photo.key %>
          <h2><%= link_to pokeball.pokemon.name, pokeball.pokemon %></h2>
          <span class="element-type"><%= pokeball.pokemon.element_type %></span>
          <p>caught on <%= pokeball.caught_on.strftime("%B %d, %Y") %> at <%= pokeball.location %></p>
          <%# <%= link_to "", pokemon_path(pokeball.pokemon), class: "pokemon-card-link" %>
          <%= link_to "Release", pokeball, data: { turbo_method: :delete, turbo_confirm: "Are you sure?", class: "btn btn-danger"} %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-secondary">This trainer has no Pokémon yet. They should get training!</p>
  <% end %>

</div>

</div>
